src/main/resources/META-INF/gmp-beans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://cc.com/schema/beans"
            targetNamespace="http://cc.com/schema/beans"
            elementFormDefault="qualified">

    <xsd:element name="gmpInfo">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="addTime" type="xsd:date" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>